{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    body{
        /* Ubah latar belakang menjadi gambar */
        background-image: url("{% static '/images/ALUN ALUN.jpg' %}");
        background-size: cover;
        background-position: top;
    }
    .message-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -7cm; /* Geser elemen ke atas sejauh 4cm */
    }
    .transparent-background {
        background-color: rgba(255, 255, 255, 0.8); /* Putih dengan 70% transparansi */
        padding: 15px;
        border-radius: 5px;
        max-width: 600px; /* Atur lebar maksimum menjadi 500px seperti contoh Anda */
        width: 100%; /* Mengatur lebar menjadi 100% dari lebar elemen parent-nya */
        margin: auto;  /* Mengatur margin secara otomatis agar elemen berada di tengah */
    }
</style>

<body>
    <br><br><br>
    <div class="message-wrapper">
        <div class="transparent-background text-center">
            <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
            <h3> <strong>Welcome, {{user}} </strong> </h3>
            <hr>
            <p>This is your dashboard, from which you can execute any of the following tasks:</p>
            <li>Manage your account</li>
            <p>Update your account details
           <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}">Profile management</a></p>
            <br>

            <li>You can logout
            <a class="btn btn-secondary navbar-btn text-white" type="button"  href="{% url 'user-logout' %}">here</a></li>
            <br />
        <hr>

        </div>

    </div>

    <br />
</body>

{% endblock %}
