{% extends 'base.html' %}
{% load static %}

{% block content %}

<style>
    body{
        /* Ubah latar belakang menjadi gambar */
        background-image: url("{% static '/images/sentani.jpg' %}");
        background-size: cover;
        background-position: top;
    }
    .message-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        margin-top: -7cm; /* Geser elemen ke atas sejauh 4cm */
    }
    .transparent-background {
        background-color: rgba(255, 255, 255, 0.7); /* Putih dengan 70% transparansi */
        padding: 15px;
        border-radius: 5px;
        max-width: 500px; /* Atur lebar maksimum menjadi 500px seperti contoh Anda */
        width: 100%; /* Mengatur lebar menjadi 100% dari lebar elemen parent-nya */
        margin: auto;  /* Mengatur margin secara otomatis agar elemen berada di tengah */
    }
</style>

<body>
    <br>
    <div class="message-wrapper">
        <div class="transparent-background text-center">
            <i class="fa fa-check fa-3x text-success" aria-hidden="true"></i>
            <h3> Termination of Account </h3>
            <hr>
            <p> Do you really wish to terminate your account? </p>


            <form method="POST" autocomplete="off">

                {% csrf_token %}

                <button type="submit" class="btn btn-danger navbar-btn text-white"> &nbsp; Terminate your account </button>
                <br> <br>
                <a class="btn btn-primary navbar-btn text-white" type="button"  href="{% url 'profile-management' %}"> <i class="fa fa-arrow-left" aria-hidden="true"></i> &nbsp; <ion-icon name="arrow-back-outline"></ion-icon> &nbsp; Go back </a>

            </form>
        </div>
    </div>
</body>

{% endblock %}