{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container mt-3 mb-5">
    {% if user.is_staff or user.is_superuser %}
    <h2>Update Destination</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success mt-3">Update</button>
        <a href="{% url 'destination_detail' destination.id %}" class="btn btn-danger mt-3">Cancel</a>
    </form>
    {% endif %}
</div>

{% endblock content %}
